
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes loading-animation {
  0% { background-position: 0% 50%, 50% 50%, 100% 50%; opacity: 0.75; }
  50% { background-position: 25% 50%, 75% 50%, 125% 50%; opacity: 0.5; }
  100% { background-position: 0% 50%, 50% 50%, 100% 50%; opacity: 1; }
}

.customShadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@font-face {
  font-family: outfit;
  src: url(/public/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(/public/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: pd;
  src: url(/public/PlayfairDisplay-VariableFont_wght.ttf);
}

.pd{
  font-family: pd;
}

.outfit{
  font-family: outfit;
}

.montserrat{
  font-family: montserrat;
}

::-webkit-scrollbar {

  scrollbar-width: none;
}
@keyframes smooth-scroll {
  0% {
    transform: translateX(0); /* Start with the first set visible */
  }
  100% {
    transform: translateX(-50%); /* Only scroll half the width of the container */
  }
}

.overflow-hidden {
  position: relative;
  overflow: hidden; /* Ensure only the visible portion is shown */
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% * 2); 
  width: 200%; /* Double the width to include original + duplicate cards */
  animation: smooth-scroll 20s linear infinite; /* Smooth looping animation */
}

.scroll-container > * {
  flex-shrink: 0;
  width: 400px; /* Fixed width of each card */
}

.defaultcss option:checked {
  background: linear-gradient(to right, #d43fa6, #d43fa6); 
  font-weight: normal; 
}

.custom-option:hover {
  background-color: red;
  font-weight: bold;
}

:root {
  --background: #ffffff; /* White */
  --foreground: #1a1a1a; /* Almost black */
  --card: #ffffff; /* White */
  --card-foreground: #262626; /* Dark gray */
  --popover: #ffffff; /* White */
  --popover-foreground: #190019; /* Very dark magenta */
  --primary: #f20574; /* Vibrant pink */
  --primary-foreground: #000000; /* Black */
  --secondary: #e6e6e6; /* Light gray */
  --secondary-foreground: #000000; /* Black */
  --muted: #f2f2f2; /* Soft light gray off white */
  --muted-foreground: #666666; /* Medium gray */
  --accent: #e5e5e5; /* Very light gray */
  --accent-foreground: #262626; /* Dark gray */
  --destructive: #800000; /* Dark red */
  --destructive-foreground: #ffffff; /* White */
  --border: #d6d6d6; /* Light gray */
  --input: #7f7f7f; /* Medium gray */
  --ring: #f20574; /* Vibrant pink */
  --radius: 0.5rem;
  --text: #fecd17;
}

.dark {
  --background: #1a1a1a; /* Almost black */
  --foreground: #ffffff; /* White */
  --card: #262626; /* Dark gray */
  --card-foreground: #ffffff; /* White */
  --popover: #0d0d0d; /* Very dark gray */
  --popover-foreground: #ffffff; /* White */
  --primary: #d43fa6; /* Vibrant pink */
  --primary-foreground: #000000; /* Black */
  --secondary: #333333; /* Dark gray */
  --secondary-foreground: #ffffff; /* White */
  --muted: #404040; /* Muted dark gray */
  --muted-foreground: #a6a6a6; /* Light gray */
  --accent: #404040; /* Muted dark gray */
  --accent-foreground: #f2f2f2; /* Soft light gray */
  --destructive: #e11f1f; /* Dark red */
  --destructive-foreground: #ffffff; /* White */
  --border: #808080; /* Medium gray */
  --input: #808080; /* Medium gray */
  --ring: #d43fa6; /* Vibrant pink */
  --radius: 0.5rem;
}




@layer components {
  .btn {
    @apply px-4 py-2 font-semibold rounded-md text-white;
  }
  .btn-primary {
    @apply bg-primary hover:bg-secondary;
  }
}

.bubble.user {
  border-radius: 20px 20px 0 20px;
  background-color: rgb(95, 146, 176);
  margin-left: auto;
}

.bubble{
  border-radius: 20px 20px 20px 0px;
  background-color: #e09595;
}